<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
 	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %5p %c:%F:%L - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<AsyncLogger name="com.siriusxm" level="DEBUG" />
		<AsyncLogger name="org.springframework" level="INFO" />
		<AsyncLogger name="org.apache" level="INFO" />
		<AsyncRoot level="DEBUG">
			<AppenderRef ref="ConsoleAppender" />
		</AsyncRoot>
	</Loggers>
</Configuration>